<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">ID# 1</h6>
    <p class="card-text">
      This is a description of an item, it might describe a bug, task, comment,
      it can also display <a href="#">Links</a>
    </p>
    <div>
      <div>
        <span class="badge badge-primary">bug</span>
        <span class="badge badge-primary">issue</span>
        <span class="badge badge-primary">task</span>
      </div>
      <div>
        <a href="#" class="card-link">Edit</a>
        <a href="#" class="card-link">Delete</a>
      </div>
    </div>
  </div>
</div>
